// PageHeader.scss
@import "../../styles/_index.scss";

.page-header-container {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: #fff;
  padding: 2rem 1rem;
}

.page-title-container {
  @include container;
  flex: 1;
  padding: 1rem 1rem;
  background-color: #fff;
  margin-top: 0rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  
  &.text-left {
    text-align: left;
    padding-left: 0rem;
    
    .page-title {
      text-align: left;
      margin-left: 0;
      margin-right: 0;
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
    
    .page-description {
      text-align: left;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.portfolio-menu-container {
  flex: 0 0 auto;
  padding-left: 2rem;
}

.page-title {
  @include page-title-font;
  color: $color-primary;
}

.page-description {
  margin-top: .5rem;
  color: $color-primary;
  font-size: 1.1rem;
  max-width: 600px;
  margin-left: 0;
  margin-right: auto;
}