
@import "../../../../styles/_index.scss";

.footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  @include max('sm') {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
}